<div class="header">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Bitny's Store</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <!-- <div class="labels">
    <div class="home"><label for="home">Home</label></div>
    <div class="about"><label for="about">About</label></div>
  </div>
  <div class="btns">
    <div class="contact-btn"><button>Contact Us</button></div>
  </div> -->
</div>
